body {
    margin: 20px;
}

.choice {
    margin-bottom: 10px;
    padding: 7px;
    border: none;
    border-radius: 5px;
    background-color: #c67a7a;
    cursor: pointer;
}

#start-quiz {
    padding: 7px 10px;
    border: none;
    border-radius: 5px;
    background-color: #c67a7a;
    cursor: pointer;
}

#highscores:hover {
    cursor: pointer;
}

button {
    margin: 0px, 5px;
}

#choices {
    display: none;
}

ul {
    list-style: none;
    padding: 0;
}

header {
    display: flex;
    flex: wrap;
    justify-content: space-between;
}

#quiz-title {
    display: flex;
    justify-content: center;
}

#start-quiz {
    text-align: center;
}

#quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

#instructions {
    width: 60%;
    text-align: center;
}

#start-quiz {
    display: block;
    margin: 0 auto;
}

#quiz-card {
    margin: auto;
}

#quiz-card {
    width: 50%;
    margin: 0 auto;
}

#progress {
    font-weight: bolder;
}

#question {
    margin: 10 auto;
    text-align: center;
}

#end {
    text-align: center;
    display: none;
}

#hide {
    text-align: center;
    display: none;
}

#top5 {
    text-align: center;
}

#end p,
#end input,
#end button {
    display: inline;
    margin: 10px 2px;
}